.telaCriaQuizz
{
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 75px;
}
.telaCriaQuizz section
{
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    background: #80d0f7;
    border-radius: 10px;
    margin-top: 12px;
}
.telaCriaQuizz > input
{
    border: 1px solid #b1b1b1;
    width: 50%;
    border-radius: 7px;
    font-size: 18px;
    padding: 6px;
}
.perguntas
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.perguntas input
{
    margin: 5px;
    width: 48%;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}
.telaCriaQuizz h1
{
    font-size: 20px;
    margin-bottom: 5px;

}
.telaCriaQuizz .questoes section > input
{
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}
.telaCriaQuizz .adicionar
{
    margin-top: 5px;
    font-size: 35px;
    background: #225bc2;
    color: white;
    border-radius: 50%;
    width: 35px;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.questoes
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.niveis
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.niveis div > input
{
    width: 48%;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.niveis section > div
{
    text-align: center;
}
.niveis section > div :first-child
{
    margin-right: 15px;
}
.niveis section > input
{
    display: block;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.niveis textarea
{
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
}
.publicar
{
    margin-top: 30px;
    width: 50%;
    margin-bottom: 70px;
    background: #748fbf;
    font-size: 2rem;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
.publicar:hover
{
    background: #1d56bb;
}
@media (max-width: 1038px)
{
    .telaCriaQuizz section
    {
        width: 55%;
    }
    .telaCriaQuizz > input
    {
        width: 55%;
    }
}
@media (max-width:944px)
{
    .telaCriaQuizz section
    {
        width: 60%;
    }
    .telaCriaQuizz > input
    {
        width: 60%;
    }
    .perguntas input 
    {
        width: 100%;
    }
    .niveis div > input
    {
        width: 100%;
    }
}
@media (max-width:405px)
{
    .telaCriaQuizz .questoes section > input
    {
        font-size: 14px;
    }
    .perguntas input 
    {
        font-size: 14px;
    }    
    .telaCriaQuizz > input
    {
        font-size: 16px;
    }
    .niveis div > input
    {
        font-size: 14px;
    }
    .niveis section > input
    {
        font-size: 14px;
    }
    .niveis textarea
    {
        font-size: 14px;
    }
}
@media (max-width:364px)
{
    .telaCriaQuizz .questoes section > input
    {
        font-size: 11px;
    }
    .perguntas input 
    {
        font-size: 11px;
    }
    .telaCriaQuizz > input
    {
        font-size: 14px;
    }
    .niveis div > input
    {
        font-size: 11px;
    }
    .niveis section > input
    {
        font-size: 11px;
    }
    .niveis textarea
    {
        font-size: 11px;
    }
}
