.telaListaQuizz
{
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
header
{
    color: white;
    background: #2c73cc;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    top: 0;
}
.telaListaQuizz ul
{
    margin-top: 40px;
    width: 58%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.telaListaQuizz ul > :first-child
{
    background: #2c73cc;
}
.telaListaQuizz ul > :first-child button
{
    margin-top: 20px;
    outline: none;
    border: none;
    background: white;
    color: #2c73cc;
    padding: 0px;
    font-size: 43px;
    cursor: pointer;
    border-radius: 25px;
    height: 43px;
}
.telaListaQuizz li
{
    background: red;
    height: 190px;
    width: 175px;
    padding: 40px;
    border-radius: 15px;
    margin-right: 15px;
    margin-top: 15px;
    text-align: center;
}
.telaListaQuizz span
{
    color: white;
    font-size: 19px;
    line-height: normal;
    font-weight: bold;
}