body
{
    font-family: 'Roboto',sans-serif;
    background-color: #FAFAFA;
    height: 100vh;
}
.telaLogin
{
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-color: #FAFAFA;
    transition: opacity 500ms ease-in-out;
    opacity: 1;
}
.telaLogin div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding: 24px;
    background: #2c73cc;
}
.telaLogin h1
{
    font-size: 30px;
    font-weight: bold;
    margin-top: 85px;
}
.telaLogin h2
{
    margin: 5px 0px;
    font-size: 18px;
    font-weight: lighter;
    color: #867c7c;
}
.telaLogin input
{
    margin: 5px 0px;
    font-size: 16px;
    padding: 10px
}
.telaLogin button
{
    margin-top: 5px;
    background: #10229c;
    color: white;
    padding: 10px 35px;
    font-size: 16px;
    cursor: pointer;
}
